<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <span class="fa-stack fa-lg">
          <i class="fa fa-map-marker fa-stack-2x" style="font-size: 70px;"></i>
          <i class="fa fa-stack-1x" style="width: 100%; top: 20%;">1</i>
        </span>
        
        <div class="distance">5.9 mi</div>
      </div>
      <div class="col-md-6">
        <h3 class="title">
        <a href="">Farmer's Market Name</a>
        </h3>
      </div>
      <div class="col-md-4">
        <div class="care-rating">
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i>
          <div class="care">Overall Rating</div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-md-4">
      <div class="phone">(843) 763-0233</div>
      <div class="address1">1137 Sam Rittenburg Blvd</div>
      <div class="address2">Charleston, SC 29407</div>
      <div class="website">
        <a href="#">View Website</a>
      </div>
    </div>
    <div class="col-md-4 details">
      <ul>
        <li>125 Certified Beds</li>
        <li>Not in a continuing care retirement community</li>
        <li>Not-for-profit</li>
      </ul>
    </div>
    <div class="col-md-4 evaluation">
      <i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-thin"></i><i class="fa fa-circle-thin"></i>
      <div>Staff ratio</div>
      <div class="rating dots">
        <div class="value value-3"></div>
      </div>
      <div>Care coordination</div>
      <div class="rating dots">
        <div class="value value-5"></div>
      </div>
      <div>Health inspections</div>
    </div>
    <br clear="both">
  </div>
  </div>
  <div class="panel-footer">
     <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-file fa-stack-1x fa-inverse" ></i>
        </span>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-heart fa-stack-1x fa-inverse" ></i>
        </span>
    <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-info fa-stack-1x fa-inverse" ></i>
        </span>
  </div>
 
</div>